[submodule "FALDO"]
	path = FALDO
	url = https://github.com/OBF/FALDO.git
[submodule "bioruby-vcf2rdf"]
	path = bioruby-vcf2rdf
	url = https://github.com/fstrozzi/bioruby-vcf2rdf.git
[submodule "VCFotf"]
	path = VCFotf
	url = https://github.com/fstrozzi/dockerfiles.git
[submodule "sparql-vcf"]
	path = sparql-vcf
	url = https://github.com/simonjupp/sparql-vcf.git
[submodule "RDF-SIFTS"]
	path = RDF-SIFTS
	url = https://github.com/Yusuke-KOMIYAMA/RDF-SIFTS.git
